/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heroTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links-li {
  text-decoration: none;
}
