@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

svg {
  height: 35px;
  width: 34px;
}

::-webkit-scrollbar {
  display: none;
}

#github {
  fill: #181717;
}

#linkedin {
  fill: #0077b5;
}

#twitter {
  fill: #1da1f2;
}

#gmail {
  fill: #d14836;
}

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .links {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .links-ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
  }
}

.nametag {
  font-size: 1.75rem;
  margin-top: 5vh;
}

.button img {
  width: 35px;
  margin-bottom: 1px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.button {
  padding: 7px 10px 7px 10px;
  line-height: 35px;
  height: 51px;
  min-width: 217px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 7px 10px 7px 10px;
  margin: 0.75vh;
  font-size: 20px;
  letter-spacing: -0.08px;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5);
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button:hover,
.button:active,
.button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
  text-decoration: none;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5);
  opacity: 0.85;
  color: #000000;
  background-color: rgba(190, 190, 190, 0.25);
}

.description {
  display: none;
  overflow: hidden;
  padding: 15px;
}

.aboutMe {
  justify-content: center;
  width: 217px;
  height: 51px;
  -o-transition: width 0s, height 0.3s ease-in-out;
  -webkit-transition: width 0s, height 0.3s ease-in-out;
  -moz-transition: width 0s, height 0.3s ease-in-out;
  -ms-transition: width 0s, height 0.3s ease-in-out;
  transition: width 0s, height 0.3s ease-in-out;
  overflow: hidden;
}

.aboutMe:focus {
  height: 151px;
  width: 70vw;
  overflow: hidden;
}

.aboutMe:focus .description {
  display: block;
  overflow-y: scroll;
}

.aboutMe:focus .aboutMeIcon {
  display: none;
}

@media (max-width: 630px) {
  .aboutMe:focus {
    height: 50vh;
    width: 85vw;
    font-size: 1rem;
  }
}
